body {
    text-align: center;
    font-family: helvetica-w01-light, helvetica-w02-light, sans-serif;
    font-size: 24px;
    font-weight: 400;
    margin: 1vmin;
}

div.content-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: space-between;
}

@media only screen and (min-device-width: 1366px) {
    div.content-wrapper > div {
        flex-basis: 25%;
    }
}

@media only screen and (max-device-width: 767px) {
    div.content-wrapper > div {
        flex-basis: 100%;
    }
}

@media only screen and (max-device-width: 1365px) {
    div.content-wrapper > div {
        flex-basis: 50%;
    }
}

h2 {
    font-family: nimbus-sans-tw01con, sans-serif;
    font-weight: 300;
    font-size: 50px;
}

p {
    margin: 1vmin;
}

p.countdown {
    font-size: 50px;
    color: #F84738;
}

p.month {
    display: inline-block;
    font-size: 32px;
    width: 70%;
    font-family: nimbus-sans-tw01con, sans-serif;
    font-weight: 300;
}

div.calendar-container {
    width: 300px;
    margin: 1vmin 1vmax;
}

div.calendar-container table,
th,
td {
    margin: 0 auto;
    text-align: left;
    border-collapse: collapse;
    border: 1px solid black;
    padding: 2px;
    font-size: 24px;
    margin-bottom: 1vmin;
}

div.left {
    width: 0;
    height: 0;
    display: inline-block;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-right: 12px solid #FE8C7F;
    cursor: pointer;
    user-select: none;
}

div.right {
    width: 0;
    height: 0;
    display: inline-block;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 12px solid #FE8C7F;
    cursor: pointer;
    user-select: none;
}

thead.center-headers th {
    text-align: center;
}

div.widget-container {
    margin: 1vmin 1vmax;
}

iframe {
    width: 200px;
    border: none;
}

a.info-link {
    text-decoration: none;
    color: #F84738;
    font-size: 14px;
    width: 50%;
    font-weight: bold;
    margin: 0 1vmax;
    cursor: pointer;
    user-select: none;
}

p.alarm-title {
    color: #F84738;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
    margin-top: 1vmin;
}

p.label {
    color: #FE8C7F;
    font-variant-caps: all-small-caps;
    font-weight: 500;
    font-size: 24px;
    margin: 0;
    font-weight: bold;
    line-height: 24px;
}

div.details-container {
    margin: 1vmin 1vmax;
}

p.details {
    font-size: 20px;
    margin: 0;
    font-weight: bold;
}

p.heading {
    font-size: 32px;
    text-transform: uppercase;
    margin: 0;
    text-align: center;
    font-family: nimbus-sans-tw01con, sans-serif;
    font-weight: 300;
}

a.alarm-date {
    text-decoration: none;
    font-weight: bold;
    color: black;
    cursor: pointer;
    user-select: none;
}

p.number {
    font-size: 40px;
    color: #F84738;
    margin-bottom: 0;
    line-height: 36px;
}

.half-width {
    margin: 0 auto !important;
    width: 50%;
    text-align: left;
}