body {
    text-align: center;
    font-family: helvetica-w01-light, helvetica-w02-light, sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin: 1vmin;
}

div.center-table {
    width: 200px;
}

p {
    margin: 1vmin;
}

p.number {
    font-size: 50px;
    color: #F84738;
    margin-bottom: 0;
}

p.units {
    font-size: 24px;
    color: #F84738;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
}

h2 {
    font-family: nimbus-sans-tw01con, sans-serif;
    font-weight: 300;
    font-size: 28px;
    margin: 0 1vmax 0 1vmax;
    text-transform: uppercase;
}

a.info-link {
    text-decoration: none;
    color: #F84738;
    font-size: 12px;
    font-weight: bold;
}